.container {
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
}

.right__menu {
  display: flex;
  align-items: center;
}

.right__menu a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
}

.icon {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.burger__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(231, 242, 245);
    width: 300px;
    z-index: 10;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.burger__nav li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.burger__nav a{
    text-decoration: none;
    font-weight: 500;
}

.close__nav {
    display: flex;
    justify-content: flex-end;
}

.close__nav .icon {
    cursor: pointer;
}